extends ../base.pug

block variables
  - var template = "detail";

block content
  .detail
    .detail__wrapper
      figure.detail__media
        img.detail__media_image(alt=product.data.product.alt, src=product.data.product.url)
      
      .detail__information 
        p.detail__information_collection=product.data.collection.data.title
        h1.detail__information_title=product.data.title

        .detail__information_content
          .detail__information_highlights
            each highlight in product.data.highlights 
              p.detail__information_highlight
                svg.detail__information_highlight_icon
                use(xlink:href=`sprite-${highlight.highlights_icon.toLowerCase()}`)

                span.detail__information_highlight_text=highlight.highlights_text
          .detail__information_list
              each item in product.data.informations
                p.detail__information_item
                  strong.detail__information_item_title=item.informations_label
                  span.detail__information_item_description=item.informations_description
                  
          a.detail__information_link(href=product.data.link_url.url)=product.data.link_text      